<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>HHHomeViewController</string>
		<key>title</key>
		<string>首页</string>
		<key>image</key>
		<string>jiekuan_normal</string>
		<key>selectedImage</key>
		<string>jiekuan_pressed</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>HHStatementViewController</string>
		<key>title</key>
		<string>报表</string>
		<key>image</key>
		<string>huankuan_normal</string>
		<key>selectedImage</key>
		<string>huankuan_pressed</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>HHMyViewController</string>
		<key>title</key>
		<string>我的</string>
		<key>image</key>
		<string>wode_normal</string>
		<key>selectedImage</key>
		<string>wode_pressed</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
</array>
</plist>
